<h3 style="color: red;">Homepage</h3>

<div class="container">

    <img src="assets/images/buurbackground.jpg" alt="background">

    <button class="btn">DEMO APP</button>

    <i><h2 style="color: whitesmoke;"  class="a">I'am looking for...</h2></i>

    <input class="b" type="search" placeholder="Enter a job Description" [(ngModel)]="jobTitle">

    <button class="c" type="menu" (click)= "Onclick($event)">Search</button>

    <input class="d" type="search" placeholder="Enter your location" [(ngModel)]="location">

    <input class="e" type="checkbox" value="FullTime"(Onclick)="FullTime($event)">

    <input class="f" type="checkbox" value="PartTime"(Onclick)="PartTime($event)">

    <button class="g" type="serarch" (click)= "Onclick($event)">Register</button>

    <ul>

    </ul>
</div>

